*, *::before, *::after{
    box-sizing: border-box;

}

body{
    padding: 0px;
    margin: 0px;
    display: flex;
    width: 100vw;
    height: 100vh;
    justify-content: center;
    align-items: center;
}



.container{
    width: 800px;
    max-width: 80%;
    background-color: cornflowerblue;
    border-radius: 7px;
    padding: 10px;
    box-shadow:0 0 10px 2px ;
}

.start-layout{
    display: grid;
    justify-content: center;
    align-items: center;
    margin: 15px 0;
    gap: 10px;
}

.results-layout{
    display: grid;
    justify-content: center;
    align-items: center;
    margin: 15px 0;
    gap: 10px;
}

.btn-layout{
    display: grid;
    grid-template-columns: repeat(2, auto);
    margin: 15px 0;
    gap: 10px;
}

.btn {
    background-color: rgb(156, 153, 153);
    border-radius: 7px;
    padding: 10px;
    font-weight: bold;

}

.correct {
    background-color: rgb(6, 138, 6);
    
}

.wrong {
    background-color: rgb(197, 8, 8);
    
}

.hide{
    display: none;
}